@media screen and (min-width:768px){
    .burger-btn{
        display: none
    }
    .herader-mobile-wrapper{
        display: none !important;
    }
    .main-menu ul.menu > li:hover .sub-menu{
        display: block;
    }
    .overflowbody{
        overflow-y: scroll !important;
    }

        
    .main-menu ul.menu > li .sub-menu{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-width: 250px;
        max-width: 250px;
        background: white;
        top: 50px;
        padding: 0 12px;
        border-radius: 5px;
        display: none;
        z-index: 2;
        box-shadow: 4px 10px 26px rgb(0 0 0 / 36%);
    }
   
   
}
@media screen and (max-width:767px){

    .burger-btn{
        position: absolute !important;
        right: 0;
    }
    .header-logo-col{
        max-width: 100% !important;
        position: relative;
    }
    .herader-mobile-wrapper{
        visibility: visible;
        opacity: 1;
    }

    .main-menu ul.menu > li{
        display: block;
    }
    .main-menu ul.menu > li > a{
        color: black;
    }
    .menu-arrow{
        filter: brightness(1) invert(0);
    }
    .main-menu ul.menu > li.current-menu-item a,
    .main-menu ul.menu > li.current-menu-item:hover a{
        font-weight: 700;
        color: #151336;
        pointer-events: none;
    }  
    .close-menu-btn{
        display: none;
    }
    body.mobile-menu-open  .close-menu-btn{
        display: block;
    }
    body.mobile-menu-open .open-menu-btn{
        display: none;
    }
    
    body.mobile-menu-open  .header-main-wrapper{
        background: #efefef !important;
        box-shadow: 5px 10px 26px rgb(0 0 0 / 7%);
    }
    body.mobile-menu-open .main-menu ul.menu > li > a{
        color: #151336;
        max-width: max-content;
    }
    body.mobile-menu-open .main-menu ul.menu > li > a:hover{
        text-decoration: underline;
    }

    body.mobile-menu-open .main-menu ul.menu > li > a{
        color: #151336;
    }
    body.mobile-menu-open .header-logo-col img{
        filter: brightness(1) invert(0);
    }

    body.mobile-menu-open .menu-arrow {
        filter: brightness(1) invert(0);
    }
    body.mobile-menu-open .main-menu ul.menu > li.current-menu-item:hover a,
    body.mobile-menu-open .main-menu ul.menu > li.current-menu-item a{
    color: #151336;
    pointer-events: none;
    }

    .herader-mobile-wrapper{
        height: 100%;
        position: fixed !important;
        width: 100%; 
    }
    .herader-mobile-wrapper .mobile-menu-col{
        height: 80vh !important;
    } 

    .menu-arrow{
        top: 0px;
        transform: translateY(0px);
        width: 30px;
        height: 30px;
        transition: 0.3s all;
    }
    .sub-menu{
        display: none;
    }
    body.open-submenu .menu-arrow{
        transform: scale(-1);
    }
    body.mobile-menu-open .main-menu ul.menu > li{
        margin-bottom: 5px;
    }
}






