@media screen and (min-width:768px){

    .home-icon-section-wrapper .elementor-widget-wrap .home-icon-cta:nth-child(even){
        margin-right: auto;
    }
    .home-icon-section-wrapper .elementor-widget-wrap .home-icon-cta:nth-child(even) .elementor-cta{
         max-width: 570px
    }
    
    .home-icon-section-wrapper .elementor-widget-wrap .home-icon-cta:nth-child(odd){
        margin-left:auto;
        max-width: 570px
    }

}
@media screen and (max-width:767px){

    /* overlay-home */
    .home-about-overlay > .elementor-background-overlay{
        background: linear-gradient(270.29deg, #141336 0.47%, rgba(26, 32, 63, 0.94) 84.58%, rgba(36, 55, 78, 0) 205.87%);
    }
   /*services section*/
    .services-wrapper{
        width: 100%;
        margin: 0 0 -30px;
    }
    .services-wrapper .service-card:nth-child(7),
    .services-wrapper .service-card:nth-child(8),
    .services-wrapper .service-card{
        width: 100%;
        margin: 0 0 30px;
    }
    .service-card .serv-content{
        padding: 15px 15px 25px;
    }
    .serv-content a{
        font-size: 20px;
        line-height: 30px;
    }

    /*home icon cta*/
    .home-icon-section-wrapper .home-icon-cta{
        max-width: 570px;
    }

    /*contact cta*/
    .bim-cta-wrapper .elementor-widget-wrap,
    .mechanical-cta-wrapper .elementor-widget-wrap,
    .contact-cta-wrapper .elementor-widget-wrap{
        width: 100%;
        margin: 0 0 -30px !important;
    }
    .bim-cta-wrapper .elementor-widget-wrap .bim-cta,
    .mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta:last-child,
    .mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta:nth-last-child(2),
    .mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta,
    .contact-cta-wrapper .elementor-widget-wrap .contact-cta-card{
        width: 100%;
        margin: 0 0 30px !important;
    }

    /*blog featured*/
    .date-img-wrapper{
        max-width: 100%;
    }
    .featured-inner{
        flex-direction:column;
    }
    .featured-post-wrapper .featured-inner .column{
        width: 100%;
    }
    .featured-inner .image-column .img-wrapper{
        padding-bottom: 50%;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
    }
    
    .featured-post-wrapper .featured-inner .content-column{
        width: calc(100% - 40px);
        background: white;
        margin-top: -40px;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 20px 20px;
        text-align: center;
        align-items: center;
        border: 1px solid #ECECEC;
    }
    .featured-post-wrapper .content-column .post-title{
        font-size: 22px;
        line-height: 30px;
    }

  /*Blog Post*/
  .blog-post-wrapper{
    width: 100%;
    margin: 0 0 -29px;        
}
.blog-post-wrapper .post-wrapper{
    width: 100%;
    margin: 0 0 29px;
}
.blog-post-wrapper .post-wrapper .blog-inner .post-content{
    max-width: calc(100% - 40px);
}
.blog-post-wrapper .post-wrapper .blog-inner .post-content .post-category{
    margin-bottom:16px
}
.blog-post-wrapper .post-wrapper .blog-inner .post-image-wrapper{
    min-height: 226px;
}
.blog-post-wrapper .post-wrapper .blog-inner .post-content .post-description{
    margin-bottom: 14px;
}

/*blog single*/
.blogsingle-sidebar{
    width: 100% !important;
}
.blogsingle-column{
    max-width: 100%;
}
.single-blog-content h1, .single-blog-content h2, .single-blog-content h3, .single-blog-content h4{
    margin-top: 39px;
    margin-bottom: 13px;
}
.single-blog-content img{
    margin-bottom: 15px;
}

.single-blog-content h5,
.single-blog-content h6{
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
}
.single-latest-post .elementor-post{
    padding-bottom: 15px !important;
}
.single-latest-post .elementor-post:last-child{
    padding-bottom: 28px !important;
}


/*counter*/
.counter-section-wrapper .elementor-widget-wrap{
    width: calc(100% + 20px);
    margin: 0 -10px -30px;
}
.counter-section-wrapper .elementor-widget-wrap .counter-item{
    width: calc(50% - 20px);
    margin: 0 10px 30px;
}

/*Flipbox*/
.flipcard-wrapper-inner .flipcard-wrapper .elementor-widget-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0px -30px !important;
}
.flipcard-wrapper-inner .flipcard-wrapper .elementor-widget-wrap .flipcard{
    width: 100%;
    margin: 0 0px 30px !important;
}
.flipcard .elementor-flip-box .elementor-flip-box__back .elementor-flip-box__layer__overlay .elementor-flip-box__button {
    max-width: max-content;
}
.flipcard .elementor-flip-box .elementor-flip-box__back .elementor-flip-box__layer__overlay{
    padding: 52px 21px;
}

}

/* @media screen and (max-width: 641px){
    
body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
    max-width: 100% !important;
}

} */
@media screen and (max-width: 520px){
    .counter-section-wrapper .elementor-widget-wrap{
        width: 100%;
        margin: 0 0 -30px;
        justify-content: center;
    }
    .counter-section-wrapper .elementor-widget-wrap .counter-item{
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 380px){
  /*featured post*/
  .content-column .post-title{
    font-size: 20px;
    line-height: 26px
}

}