@media screen and (max-width:1024px){
    .bim-cta-wrapper .elementor-widget-wrap .bim-cta,
    .mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta,
    .contact-cta-wrapper .elementor-widget-wrap .contact-cta-card,
    .services-wrapper .service-card{
        width: calc(50% - 30px);
    }
   
    /*blog-featured post*/
    .content-column{
    padding-left: 30px;
    }
    .featured-inner .image-column .img-wrapper{
        padding-bottom: 70%;
    }


     /*Blog Post*/
     .blog-post-wrapper{
        width: calc(100% + 30px);
        margin: 0 -15px -40px;
     }
     .blog-post-wrapper .post-wrapper{
        width: calc(50% - 30px);
        margin: 0 15px 30px;
    }

    /**/
    .blogsingle-sidebar{
        width: 260px !important;
    }
    .blogsingle-column{
        max-width: calc(100% - 260px);
    }


    /*form*/
    html body .gerneral-form-wrapper .elementor-widget-container ul.gform_fields{
        column-gap: 80px;
    }
    html body .gerneral-form-wrapper .elementor-widget-container ul.gform_fields > li{
       width: 100%; 
    } 
    html body .gform_wrapper form ul.gform_fields li.gfield.second-child-li{
        margin-top: -30px;
    }


   /*flipbox*/
    .flipcard-wrapper-inner .flipcard-wrapper .elementor-widget-wrap .flipcard{
        width: calc(50% - 30px);
        margin: 0 15px 30px !important;
    }
    

}