/*home page*/

   /*Overlays*/
   .home-about-overlay .elementor-background-overlay{
    background: linear-gradient(270.29deg, #141336 0.47%, rgba(26, 32, 63, 0.94) 34.58%, rgba(36, 55, 78, 0) 95.87%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .zig-inner-service-overlay .elementor-background-overlay{
        background: linear-gradient(270.29deg, #FFFFFF 0.47%, rgba(255, 255, 255, 0.94) 34.58%, rgba(255, 255, 255, 0) 64.33%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .zag-inner-service-overlay  .elementor-background-overlay{
        background: linear-gradient(270.35deg, #FFFFFF -0.26%, rgba(255, 255, 255, 0.94) 35.89%, rgba(255, 255, 255, 0) 75.84%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

.home-about-btn a{
    color: white !important
}
.home-about-btn  a span.last::after{
    filter: brightness(0) invert(1);
}
.home-about-btn a:hover{
    color: #D83434 !important
}

.about-innder-container .elementor-widget-wrap{
    max-width: 670px
}

/*zigzag*/
.zag-inner .elementor-widget-wrap{
    max-width: 670px;
    margin-left: auto !important;
}

/*services section*/
.services-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 -15px -30px;
}

.services-wrapper .service-card{
    width: calc(33.33% - 30px);
    margin: 0 15px 30px;
    border-radius: 5px;
    overflow: hidden;
}
.ser-inner .serv-image-part{
    max-height: 370px;
}
.ser-inner .serv-image-wrapper{
    position: relative;
    padding-bottom: 100%;
    display: block;
    max-height: 370px;
    overflow: hidden;
}
.ser-inner .serv-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
    transition: 0.5s all;
}
.service-card .ser-inner{
    position: relative;   
}
.service-card .serv-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(180deg, rgba(20, 19, 44, 0) 20.61%, #14132C 100%);
    display: flex;
    align-items: flex-end;
    padding: 24px;
}

.service-card:hover img{
    transform: scale(1.4);
} 
.serv-content a{
    color: #ffff;
}
.serv-content a:hover{
    color: #D83434;
}

.service-card:hover .serv-content a{
    text-decoration: underline
}
.services-wrapper .service-card:nth-child(7),
.services-wrapper .service-card:nth-child(8){
    width: calc(50% - 30px);
    margin: 0 15px 30px;
}
.serv-heading a,
.serv-heading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/*home icons box cta*/
.home-icon-section-wrapper .home-icon-cta{
    /* max-width: 570px; */
}
.home-icon-section-wrapper .home-icon-cta .elementor-cta__image{
    max-width: 72px;
    max-height: 72px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDDEF5;
    border-radius: 10px;
}
.icon-section-main-wrapper .elementor-background-overlay{
    height: 100% !important;
    max-width: 1190px !important;
    right: -40px;
    left: auto !important;
    height: 100%;
    background-size: calc(100% + 94px) !important;
}


/*contact cta*/
.contact-cta-wrapper .elementor-widget-wrap{
    width: calc(100% + 30px);
    margin: 0 -15px -30px !important;
}

.contact-cta-wrapper .elementor-widget-wrap .contact-cta-card{
    width: calc(33.33% - 30px);
    margin: 0 15px 30px !important;
    border-radius: 5px;
    overflow: hidden;
}
.contact-cta-wrapper .elementor-widget-wrap .contact-cta-card .elementor-widget-container{
    overflow: visible;
    height: 100%
}

.contact-cta-wrapper .elementor-widget-wrap .contact-cta-card .elementor-widget-container .elementor-cta{
    height: 100%;
    border-radius: 10px;
    display: flex;
}
.contact-cta-wrapper .elementor-widget-wrap .contact-cta-card .elementor-widget-container .elementor-cta .elementor-cta__content{
    display: flex;
    flex-direction: column;
}
.contact-cta-wrapper .elementor-widget-wrap .contact-cta-card .elementor-widget-container .elementor-cta .elementor-cta__content .elementor-cta__button-wrapper{
    margin-top: auto;
    max-width: max-content;
}

/*machnical CTA*/
.mechanical-cta-wrapper .elementor-widget-wrap{
    width: calc(100% + 30px);
    margin: 0 -15px -30px !important
}
.mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta{
    width: calc(33.33% - 30px);
    margin: 0 15px 30px !important;
}
.mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta:last-child,
.mechanical-cta-wrapper .elementor-widget-wrap .mechanical-cta:nth-last-child(2){
    width: calc(50% - 30px)
}
